@font-face {
	font-family: "CaviarDreams";
	src: url("../fonts/CaviarDreams.ttf") format('truetype');
}
@font-face {
	font-family: "Montserrat Semi-Bold";
	src: url("../fonts/Montserrat-SemiBold.ttf") format('truetype');
}
@font-face {
	font-family: "Montserrat Medium";
	src: url("../fonts/Montserrat-Medium.ttf") format('truetype');
}
/*{
	font-family: 'CaviarDreams', Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
} */
a > h4{
	color: black;
	font-weight: bold;
}
a:active > h4 {
  color: orange;
}

main {
	flex: 1 0 auto;
}

.vertical{
	color: white;
	height: 40px;
}

.title_text{
	font-family: 'Montserrat Semi-Bold', Arial, sans-serif;
}

.dialog_text{
	font-family: 'Montserrat Medium', Arial, sans-serif;
}

.subtitle{
	font-size: 20px;
}

.divisor_titulo{
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	border-top: 3px solid #616161;
}

.divisor_topico{
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

/* para impedir que a mensagem atrapalhe o clique em versao mobile E ou desk*/
#toast-container{
	pointer-events: none
}

.divisor_descricao{
	/*width: 2.1px;*/
	margin-top: 7px;
	margin-bottom: 7px;
	display: block;
	border-left: 2px solid #616161;
	height: 142px;
}

.center_imgsvg{
	margin-top: 21% !important;
}

.icon_imgModal{
	width: 100%;
	margin-top: 7px;
	margin-bottom: 7px;
}

.line_modal{
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

/* width */
::-webkit-scrollbar {
	width: 10px;  
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
   /* #fb8c00;  */
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black;
   /* #e65100; */
}

/*SCROLL DO MODAL ESTÃ INVISIVEL*/
/* width */
.scrollInvisible::-webkit-scrollbar {
  width: 10px;
}
 
/* Handle */
.scrollInvisible::-webkit-scrollbar-thumb {
  background: rgba(255,255,255, 0); 
  border-radius: 4px;
}

/* Handle on hover */
.scrollInvisible::-webkit-scrollbar-thumb:hover {
  background: rgba(255,255,255, 0);
}
/*SCROLL DO MODAL, INVISIVEL*/

.posLogo{
	text-align: left;
}

.iconBtn p{
	font-weight: bold;
	font-size: 35px;
	color: #FFFFFF;
	margin: 0;
	padding: 0;
	word-wrap: break-word;
	text-align: center;
}
.menuIcon{
	background: transparent;
	display: block;
	border-radius: 50%;
	margin: 10px;
	margin-bottom: 69.21px;
	height: 44px;
	width: 41px;
	box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
	transform: scale(1);
	animation: pulse 1.4s infinite;
}
@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
	}

	70% {
		transform: scale(0.95);
		box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.03);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.01);
	}
}
.brand-logo > img{
	width: 175px;
	height: auto;
}

.divLogo{
	margin-top: 9px;
}
.divBtn{
	margin: 10px 10px 20px 10px;
	padding-right: 30px;
}
.modal, .round{
	border-radius: 15px;
}
.modal .modal-footer {
	width: 99% !important;
}

#meu-modal{
	z-index: 1111;
	display: block;
}

.p_warning{
	margin: -10px;
	padding: 0;
	/*margin-right: 70px;*/
	color: red;
	display: none;
}

.menuNavMobile{
	display: none;
}
.conteudo{
	display: block;
}
.conteudoMob{
	display: none;
}

.img-band{
	padding-right: 2px;
}
.select-qnt-parcelas{
	display: none;
}

/*MOBILE*/
@media only screen and (max-width: 600px) {
	
	.brand-logo > img{
		width: 100%;
		height: auto;
	}

	.divLogo{
		margin-top: 10px;
	}

	.menuNav{
		display: none;
	}
	.conteudoMob{
		display: block;
	}
	.conteudo{
		display: none;
	}
	.menuNavMobile{
		display: block;
		position: fixed;
		bottom: 0;
		margin: 0;
		width: 100%;
		padding-right: 30px;
	}
	.posLogo{
		text-align: center;
	}

	.row3{
		margin-top: 60px;
		margin-bottom: 100px;
	}
	#toast-container{
		bottom: 25px;
	}
	.toastMobile{
		width: 65%;
	}
	.menuNavMobile > .col > a > h4{
		font-size: 25px;
	}
	.iconBtn img{
		width: 55px;
		height: 55px;
	}
	.iconBtn p{
		font-size: 22px;
	}
	.coldown{
		margin-top: 30px;
	}
}